{% extends 'base.html' %}
{% load i18n bubble %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1 class="text-center" style="margin-bottom: 40px;">{% trans 'новий пароль'|capfirst %}</h1>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% show_form_field_errors field.errors 'col-md-offset-4 col-md-8' %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.if_for_label }}" class="control-label col-md-4">
                            {{ field.label|capfirst }}
                        </label>
                        <div class="col-md-8">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-5">
                        <input type="submit" class="btn btn-primary btn-block btn-lg"
                               value="{% trans 'змінити пароль'|capfirst %}">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}